<aside>
	<div class="container">
		<nav>
			<ul>
				{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}
				<li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
			</ul>
			</li>
			</ul>
		</nav>
	</div>
</aside>

<header>
	<div style='background-image: url("https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/1473740/1160/772/m1/fpnw/wm0/programming.-flat-line-color-hero-images-and-hero-banners-design-concept.-copy-.jpg?1469177112&s=316c683bcf2445400b76d204eca6f124");background-size:  cover;background-position: center center;-webkit-filter: blur(1px);-moz-filter: blur(1px);-o-filter: blur(1px);-ms-filter: blur(1px);filter: blur(1px);width:  100%;height:  100%;display: initial;float:  right;opacity: 0.4;'></div>
	<h1 style="position:absolute;"><a href="{{ site.baseurl }}">{{ site.title }}<h3 style="
		font-size: 34px;
		display:  block;
		margin: -20px;
		text-align:  right;
		padding-right: 20px;
	">فرشاد جهان منش</h3></a></h1>
</header>